.git
.github
.idea
.vscode
.cursor

node_modules
vendor

.env
.env.*
!.env.example
.deploy.env

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

database/database.sqlite

tests
phpunit.xml
deploy.sh
compose.yaml
compose.*.yaml

README.md
*.md
!docker/**
